html, body {
    height: 100%;
    width: 100%;
}

body {
    background-color: slategrey;
    display: flex;
    justify-content: center;
    align-content: center;
}

#container{
    margin: 10%;
    display: flex;
    flex-direction: column;
    aspect-ratio: 1 / 1;
    border: 2px solid black;
}

.row{
    display: flex;
    flex-direction: row;
}