html, body {
    height: 100vh;
    width: 100vw;
    margin: 0;
}

body {
    background-color: slategrey;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#container{
    aspect-ratio: 1 / 1;
    max-height: 80vh;
    max-width: 80vw;
    display: flex;
    flex-direction: column;
    flex: auto;
    border: 2px solid black;
}

.row{
    display: flex;
    flex-direction: row;
    flex: auto;
}

.cell {
    flex: auto;
}

#clearBtn {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: none;
}